.product-card{
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}


.card_image{
  width: 100%;
  cursor: pointer;
}

.card-infos{
  padding: 20px;
  border-top: 1px solid #ddd;
}

.card-price{
  font-size: 30px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}

.card-title{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  font-weight: 500;
}

.button-add{
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  margin: 12px 15px;
  color: rgb(26, 196, 202);
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  background-color: rgba(247, 247, 247, 0.8);
  transition: .3s;
  cursor: pointer;
}
.product-card:hover{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.product-card:hover .button-add{
  display: flex;
  transition: .3s;
}
